#logo_img
{
    width: 150px;
    border-radius: 100px;
}
hr 
{
    border-top: 4px dotted #D8E9A8;
}
body {
    background-image: linear-gradient(to right, #191A19 , #6D8B74);
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:black;
}

img:hover {
    border-radius: 140%;
}

#camera {
    width: 400px;
    border: 5px;
}